body{
 background-color: #000000;
 font-family: Arial, Helvetica, sans-serif;
}
.title, .content_body, .footer_content{
    width: 50%;
    margin: auto;
}
/*  TITLE   */
.title{
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
.profile_photo{
    width: 100px;
    height: 90px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 50%;
    overflow: hidden;
}
.profile_photo img{
    width: 100%;
}
.description{
    width: 80%;
    height: 10%;
    margin: auto;
    color: #ffffff;
}
/*      CONTENT     */
.content_body{
    padding: 20px;
    background-color: #000000;
}
.work_grid{
    width: 96%;
    height: 96%;
    background-color: rgb(233, 233, 130);
    margin: auto;
    padding: 10px 0px 10px 0px;
}
/*   FOOTER   */
.footer_content{
    padding: 20px;
    margin-bottom: 10px;
    background-color: #000000;
    text-align: center;
}
.footer_content a, .footer_content a:hover{
    color: #ffffff;
}
