*{
    background-color: #313131;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    max-height: 98%;
}
.title{
    width: 100%;
    height: 20%;
    text-align: center;
    color: #ffffff;
    background-color: #2e3996;
}
.menu{
    width: 100%;
    height: 10%;
}
.body{
    width: 60%;
    margin: auto;
    background-color: #ffffff;
}
.botton{
    width: 100%;
    text-align: center;
}